.cv {
 color:blue;
 font-size: 60px;   
 text-align: center;
}
.foto {
    padding: 0,auto;
    border-radius: 10%;
}

.backcolor {
    background-color: rgba(0, 0, 0, 0.692);
    max-width: 400px;
    border-radius: 5%;
    padding: 15px;
}
.code {
    color: white;
}
.block {
    max-width: 600px;
    background-color: rgba(216, 191, 216, 0);
    position: relative;
    margin: 0,auto;
}